Chapters/*.aux
Chapters/*.bbl
Chapters/*.blg
Chapters/*.fls
Chapters/*.log
Chapters/*.fdb_latexmk
*.fls
*.log
*.fdb_latexmk
*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz
